<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Schitt's Tweet</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/css/style_indexPage.css" />
  </head>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html" style="color: #f1c616;">Schitt's Tweet</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="explore.html"><strong>Explore</strong></a></li>
        <li><a href="model.html">Model</a></li>
        <li><a href="created_by.html">Created By</a></li>
      </ul>
    </div>
  </nav>

  <body class="background" style = "margin-top: 3%;">
    <div class="container" style = "width: 62%;">
      <div class="row">
        <div class="col-md-12 jumbotron text-center bgimage">
        </div>
      </div>
    </div>
  </body>

  <body>
    <h1 class="col-md-11 text-header text-center" style="color: rgba(255, 255, 255, 0.795); margin-bottom: 5%">Have you ever wondered if you can identify a tweet as negative/positive or vulgar? Now you can!</h1>

    <div class='tableauPlaceholder col-sm-offset-2' id='viz1611419648928' style='position: relative;'><noscript>
      <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Tw&#47;Twitter_Sentiment_Analysis&#47;TweetsbyUser&#47;1_rss.png' style='border: none' />
      </a>
      </noscript>
      <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' /> 
      <param name='site_root' value='' />
      <param name='name' value='Twitter_Sentiment_Analysis&#47;TweetsbyUser' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='yes' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Tw&#47;Twitter_Sentiment_Analysis&#47;TweetsbyUser&#47;1.png' /> 
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='language' value='en' />
      <param name='filter' value='publish=yes' />
      </object>
      </div>                
      <script type='text/javascript'>                    
      var divElement = document.getElementById('viz1611419648928');                    
      var vizElement = divElement.getElementsByTagName('object')[0];                    
      if ( divElement.offsetWidth > 800 ) 
        { vizElement.style.width='85%';vizElement.style.height=(divElement.offsetWidth*0.52)+'px';} 
      else if ( divElement.offsetWidth > 500 ) 
        { vizElement.style.width='85%';vizElement.style.height=(divElement.offsetWidth*0.52)+'px';} 
      else { vizElement.style.width='85%';vizElement.style.height='1777px';}                     
      var scriptElement = document.createElement('script');                    
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
      vizElement.parentNode.insertBefore(scriptElement, vizElement);                
    </script>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

  </body>
  <!-- Footer -->
  <footer class="page-footer col-md-12 font-small pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: #1DA1F2">
      <i class="fab fa-spotify"></i>
      <a style="color: #1DA1F2" href="https://twitter.com">Twitter </a>
      <text style="color: #1DA1F2">| © 2020 Copyright: </style>
      <a style="color: #1DA1F2" href="https://mdbootstrap.com/">
        MDBootstrap.com</a
      >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</html>
